@page "/OnHold"

    <head>
        <link rel="stylesheet" href="..\wwwroot\css\app.css">
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
        <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
        <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />
    </head>

    <!-- Page content -->
    <div class="row">
        <div class="col-12">
            <div class="px-5">
                <h2>Items Currently on Hold for Jason:</h2>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3" style="width: 101%;">
                        <div class="row no-gutters">
                            <div class="col-md-2">
                                <div class="img-responsive center-block d-block mx-auto">
                                    <img src="images/Holes.jpg" class="card-img" alt="...">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h2 class="display-5">Holes</h2>
                                    <h3 class="h3">Louis Sachar</h3>
                                    <h6 class="h6">272 Pages, Hardcover</h6>
                                    <h6 class="h6">Return by March 9th, 2008</h6>
                                    &nbsp;
                                    <p>
                                        <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            + Expand
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body">
                                            This book is about a boy named Stanley Yelnats who is falsely accused of stealing a pair of shoes. When he goes to court, he is proven guilty and the judge gives him two choices. He can go to jail, or he can go to Camp Green Lake. Naturally, Stanley chooses Camp Green Lake. But Camp Green Lake is not like ordinary camps. Boys who go there have to dig holes all day long: One five-foot deep and five-foot wide. At first, Stanley thinks this is all his “no good dirty rotten pig stealing great great grandfather’s” fault.
                                        </div>
                                    </div>
                                    <p class="card-text"><small class="text-muted">2 Copies Available</small></p>
                                    <div style="text-align: left;">
                                        <a href="#" class="btn btn-primary" role="button">Remove From Hold</a>
                                        <a href="#" class="btn btn-primary" role="button">Wishlist</a>
                                        <a href="#" class="btn btn-primary" role="button">Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="width: 101%;">
                        <div class="row no-gutters">
                            <div class="col-md-2">
                                <div class="img-responsive center-block d-block mx-auto">
                                    <img src="images/Goodnightmoon.jpg" class="card-img" alt="...">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <h2 class="display-5">Goodnight Moon</h2>
                                    <h3 class="h3">Margaret Wise Brown</h3>
                                    <h6 class="h6">Picture Book, 32 Pages</h6>
                                    <h6 class="h6">Return by March 9th, 2008</h6>
                                    &nbsp;
                                    <p>
                                        <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                            + Expand
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseExample2">
                                        <div class="card card-body">
                                            The plot follows Harry's second year at Hogwarts School of Witchcraft and Wizardry, during which a series of messages on the walls of the school's corridors warn that the "Chamber of Secrets" has been opened and that the "heir of Slytherin" would kill all pupils who do not come from all-magical families. These threats are found after attacks that leave residents of the school petrified. Throughout the year, Harry and his friends Ron and Hermione investigate the attacks.
                                        </div>
                                    </div>
                                    <p class="card-text"><small class="text-muted">3 Copies Available</small></p>
                                    <div style="text-align: left;">
                                        <a href="#" class="btn btn-primary" role="button">Remove From Hold</a>
                                        <a href="#" class="btn btn-primary" role="button">Wishlist</a>
                                        <a href="#" class="btn btn-primary" role="button">Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .card-img {
                width: 200px;
                height: 300px;
                object-fit: fill;
                padding-top: 10px;
                padding-left: 10px;
            }
        </style>

        @code {

        }
