@page "/searchresults"
@inherits LayoutComponentBase

<PageTitle>Search Results Page</PageTitle>
<!-- Side navigation -->

<div class="row">
    <div class="col-2">
        @if (width == 0)
        {
            <button class="openbtn" @onclick="OpenNav">&#9776; Filters</button>
        }
    </div>
    <div class="col-8">
        <div class="px-4">
            <h2>3 Results For Harry Potter</h2>
        </div>
    </div>
    <div class="col-2">
        <div class="dropdown">
            <label class="btn-label">Sort By:</label>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Relevance
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Newest</a>
                <a class="dropdown-item" href="#">Oldest</a>
            </div>
        </div>
    </div>
</div>
&nbsp;
<div class="row">
    <div style="@sidebarWidth" class="filters">
        <a class="closebtn" @onclick="CloseNav">&times;</a>
        <a href="#">Media Type:</a>
        <div class="indent">
            <a href="#">CD's (0)</a>
        </div>
        <div class="indent">
            <a href="#">Movies (1)</a>
        </div>
        <div class="indent">
            <a href="#">Books (2)</a>
        </div>
        <div class="indent">
            <a href="#">Video Games (0)</a>
        </div>
        <div class="indent">
            <a href="#">Music (0)</a>
        </div>
        <div class="indent">
            <a href="#">TV Shows (0)</a>
        </div>
        <hr style="width:50%;text-align:left;margin-left:15px">
        <a href="#">Classification:</a>
        <div class="indent">
            <a href="#">Fiction (3)</a>
        </div>
        <div class="indent">
            <a href="#">Non Fiction (0)</a>
        </div>
        <hr style="width:50%;text-align:left;margin-left:15px">
        <a href="#">Genre:</a>
        <div class="indent">
            <a href="#">Fantasy (3)</a>
        </div>
        <div class="indent">
            <a href="#">Action/Adventure (3)</a>
        </div>
        <div class="indent">
            <a href="#">Children (3)</a>
        </div>
        <div class="indent">
            <a href="#">Teen (3)</a>
        </div>
        <div class="indent">
            <a href="#">Sci-Fi (0)</a>
        </div>
        <div class="indent">
            <a href="#">Romance (0)</a>
        </div>
        <div class="indent">
            <a href="#">Mystery (0)</a>
        </div>
        <div class="indent">
            <a href="#">Horror (0)</a>
        </div>
        <div class="indent">
            <a href="#">Graphic Novel (0)</a>
        </div>

        <hr style="width:50%;text-align:left;margin-left:15px">
        <a href="#">New to Library:</a>
        <div class="indent">
            <a href="#">Last 30 Days (0)</a>
        </div>
        <div class="indent">
            <a href="#">Last 90 Days (0)</a>
        </div>
        <div class="indent">
            <a href="#">Last 180 Days (1)</a>
        </div>
        <div class="indent">
            <a href="#">Last 360+ Days (2)</a>
        </div>
    </div>
</div>


<!-- Page content -->
<div style="@main">
    &nbsp;
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mb-3" style="width: 101%;">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            <div class="img-responsive center-block d-block mx-auto">
                                <img src="images/Harry_Potter_and_the_Philosopher's_Stone_Book_Cover.jpg" class="card-img" alt="...">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h2 class="display-5">Harry Potter and the Philosopher's Stone</h2>
                                <h3 class="h3">J. K. Rowling</h3>
                                <h6 class="h6">233 Pages, Hardcover</h6>
                                <h6 class="h6"> Bloomsbury - June 1997</h6>
                                &nbsp;
                                <p>
                                    <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        + Expand
                                    </a>
                                </p>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        The first novel in the Harry Potter series and Rowling's debut novel, it follows Harry Potter, a young wizard who discovers his magical heritage on his eleventh birthday, when he receives a letter of acceptance to Hogwarts School of Witchcraft and Wizardry. Harry makes close friends and a few enemies during his first year at the school and with the help of his friends, he faces an attempted comeback by the dark wizard Lord Voldemort, who killed Harry's parents, but failed to kill Harry when he was just 15 months old.
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">2 Copies Available</small></p>
                                <div style="text-align: left;">
                                    <a href="#" class="btn btn-primary" role="button">Hold</a>
                                    <a href="#" class="btn btn-primary" role="button">Wishlist</a>
                                    <a href="iteminfo" class="btn btn-primary" role="button">Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="width: 101%;">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            <div class="img-responsive center-block d-block mx-auto">
                                <img src="images/Harry_Potter_and_the_Chamber_of_Secrets.jpg" class="card-img" alt="...">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h2 class="display-5">Harry Potter and the Chamber of Secrets</h2>
                                <h3 class="h3">J. K. Rowling</h3>
                                <h6 class="h6">251 Pages, Hardcover</h6>
                                <h6 class="h6"> Bloomsbury - July 1998</h6>
                                &nbsp;
                                <p>
                                    <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        + Expand
                                    </a>
                                </p>
                                <div class="collapse" id="collapseExample2">
                                    <div class="card card-body">
                                        The plot follows Harry's second year at Hogwarts School of Witchcraft and Wizardry, during which a series of messages on the walls of the school's corridors warn that the "Chamber of Secrets" has been opened and that the "heir of Slytherin" would kill all pupils who do not come from all-magical families. These threats are found after attacks that leave residents of the school petrified. Throughout the year, Harry and his friends Ron and Hermione investigate the attacks.
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">0 Copies Available</small></p>
                                <div style="text-align: left;">
                                    <a href="#" class="btn btn-secondary" role="button">Hold</a>
                                    <a href="#" class="btn btn-primary" role="button">Wishlist</a>
                                    <a href="iteminfo" class="btn btn-primary" role="button">Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="width: 101%;">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            <div class="img-responsive center-block d-block mx-auto">
                                <img src="images/Harry_Potter_and_the_Prisoner_of_Azkaban.jpg" class="card-img" alt="...">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h2 class="display-5">Harry Potter and the Prisoner of Azkaban</h2>
                                <h3 class="h3">J. K. Rowling</h3>
                                <h6 class="h6">317 Pages, Hardcover</h6>
                                <h6 class="h6"> Bloomsbury - July 1999</h6>
                                &nbsp;
                                <p>
                                    <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        + Expand
                                    </a>
                                </p>
                                <div class="collapse" id="collapseExample3">
                                    <div class="card card-body">
                                        The third novel in the Harry Potter series, the book follows Harry Potter, a young wizard, in his third year at Hogwarts School of Witchcraft and Wizardry. Along with friends Ronald Weasley and Hermione Granger, Harry investigates Sirius Black, an escaped prisoner from Azkaban, the wizard prison, believed to be one of Lord Voldemort's old allies.
                                    </div>
                                </div>
                                <p class="card-text"><small class="text-muted">1 Copies Available</small></p>
                                <div style="text-align: left;">
                                    <a href="#" class="btn btn-primary" role="button">Hold</a>
                                    <a href="#" class="btn btn-primary" role="button">Wishlist</a>
                                    <a href="iteminfo" class="btn btn-primary" role="button">Info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .searchHeader{
        padding-right: 50px;
    }
    .card-img {
        width: 200px;
        height: 300px;
        object-fit: fill;
        padding-top: 10px;
        padding-left: 10px;
    }
    /*Sidebar Text indentation*/
    .indent {
        text-indent: 25px
    }
    /*Side bar settings*/
    .filters {
        width: 200px; /* Set the width of the sidebar */
        position: fixed;
        max-height: calc(100vh - 9rem);
        overflow-y: auto;
        z-index: 1; /* Stay on top */
        top: 200px; /* Stay at the top */
        left: 0px;
        background-color: transparent;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
        border-right: 1px groove;
        transition: 0.5s;
    }
        /*Filter X button*/
        .filters .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    /*Filter enable button*/
    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #FFFFFF;
        color: black;
        padding-left: 26px;
        border: none;
    }
    /* The navigation menu links */
    .filters a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 16px;
        color: black;
        display: block;
    }
        /* When you mouse over the navigation links, change their color */
        .filters a:hover {
            color: #f1f1f1;
        }

    #main {
        transition: margin-left .5s; /* If you want a transition effect */
        padding: 20px;
    }

    /* Style page content */
    .main {
        margin-left: 200px; /* Same as the width of the sidebar */
        padding: 0px 10px;
    }
</style>

@code {
    int width = 0;
    string sidebarWidth => $"width: {width}px;";
    string main => $"margin-left: {width}px;";
    void OpenNav() => width = 250;
    void CloseNav() => width = 0;
}



