@page "/Wishlist"

<head>
    <link rel="stylesheet" href="..\wwwroot\css\app.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />

</head>

<div class="row">
    <div class="col-12">
        <div class="px-5">
            <h2>Items Currently on Wishlist for Jason:</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3" style="width: 101%;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <div class="img-responsive center-block d-block mx-auto">
                            <img src="images/TheTwits.jpg" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h2 class="display-5">The Twits</h2>
                            <h3 class="h3">Roald Dahl</h3>
                            <h6 class="h6">87 Pages, Paperback</h6>
                            <h6 class="h6">Banana Publishing - April 1980</h6>
                            &nbsp;
                            <p>
                                <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    + Expand
                                </a>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                   The Twits (Mr. and Mrs. Twit), a spiteful, idle unkempt couple who continuously play nasty practical jokes on each other to amuse themselves, and exercise their wickedness on their monkeys.
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted">0 Copies Available</small></p>
                            <div style="text-align: left;">
                                <a href="#" class="btn btn-secondary" role="button">Hold</a>
                                <a href="#" class="btn btn-primary" role="button">Remove From Wishlist</a>
                                <a href="#" class="btn btn-primary" role="button">Info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="width: 101%;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <div class="img-responsive center-block d-block mx-auto">
                            <img src="images/Goodnightmoon.jpg" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h2 class="display-5">The Witches</h2>
                            <h3 class="h3">Roald Dahl</h3>
                            <h6 class="h6">208 Pages, Paperback</h6>
                            <h6 class="h6">Banana Publishing - May 1983</h6>
                            &nbsp;
                            <p>
                                <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    + Expand
                                </a>
                            </p>
                            <div class="collapse" id="collapseExample2">
                                <div class="card card-body">
                                    The Witches is a children's dark fantasy novel by British author Roald Dahl. The story is set partly in Norway and partly in England, and features the experiences of a young English boy and his Norwegian grandmother in a world where child-hating societies of witches secretly exist in every country. The witches are ruled by the vicious and powerful Grand High Witch, who arrives in England to organize her plan to turn all of the children there into mice.
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted">1 Copies Available</small></p>
                            <div style="text-align: left;">
                                <a href="#" class="btn btn-primary" role="button">Hold</a>
                                <a href="#" class="btn btn-primary" role="button">Remove From Wishlist</a>
                                <a href="#" class="btn btn-primary" role="button">Info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card-img {
        width: 200px;
        height: 300px;
        object-fit: fill;
        padding-top: 10px;
        padding-left: 10px;
    }
</style>

@code {

}