@page "/Wishlist"
@layout MainLayoutUser


<head>
    <link rel="stylesheet" href="..\wwwroot\css\app.css">
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />
</head>

<!-- Page content -->
<div class="row">
    <div class="col-12">
        <div class="px-5">
            <h2>Items Currently on Wishlist for Harry:</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3" style="width: 101%; height:550px; background-color: #eaf4f4;">

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="img-responsive center-block d-block mx-auto">
                                <img src="images/TheWitches.jpg" class="card-img" alt="...">
                            </div>
                        </div>
                        <div class="col">

                            <h3 class="display-7">The Witches</h3>
                            <h4 class="h4">Roald Dahl</h4>
                            <h6 class="h6">272 Pages, Hardcover</h6>
                            &nbsp;
                            <p>
                                <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    + Expand
                                </a>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    This book is about a boy named Stanley Yelnats who is falsely accused of stealing a pair of shoes. When he goes to court, he is proven guilty and the judge gives him two choices. He can go to jail, or he can go to Camp Green Lake. Naturally, Stanley chooses Camp Green Lake. But Camp Green Lake is not like ordinary camps. Boys who go there have to dig holes all day long: One five-foot deep and five-foot wide. At first, Stanley thinks this is all his “no good dirty rotten pig stealing great great grandfather’s” fault.
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted">2 Copies Available</small></p>
                            <div style="text-align: left;">
                                <a  href="#" class="btn m-2 d-flex btn-block btn-primary" style="background-color: #6b9080; justify-content: center;" role="button">Rmove from Wishlist</a>
                                <a href="#" class="btn m-2 d-flex btn-block btn-primary" style="background-color: #6b9080; justify-content: center;" role="button">Info</a>
                                <a href="#" class="btn m-2 d-flex btn-block btn-primary" style="background-color: #6b9080; justify-content: center;" role="button">On Hold</a>
                            </div>
                        </div>



                    </div>

                </div>

            </div>


        </div>

        <div class="col-6">
            <div class="card mb-3" style="width: 101%; height: 550px; background-color: #eaf4f4;">

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="img-responsive center-block d-block mx-auto">
                                <img src="images/TheTwits.jpg" class="card-img" alt="...">
                            </div>
                        </div>
                        <div class="col">

                            <h3 class="display-7">The Twits</h3>
                            <h4 class="h4">Roald Dahl</h4>
                            <h6 class="h6">Picture Book, 32 Pages</h6>
                            &nbsp;
                            <p>
                                <a class="btn btn-outline-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    + Expand
                                </a>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    Goodnight Moon is an American children's book written by Margaret Wise Brown and illustrated by Clement Hurd. It was published on September 3, 1947, and is a highly acclaimed bedtime story. This book is the second in Brown and Hurd's "classic series", which also includes The Runaway Bunny and My World. The three books have been published together as a collection titled Over the Moon.
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted">2 Copies Available</small></p>
                            <div style="text-align: left;">
                                <a href="#" class="btn m-2 d-flex btn-block btn-primary" style="background-color: #6b9080; justify-content: center;" role="button">Rmove from Wishlist</a>
                                <a href="#" class="btn m-2 d-flex btn-block btn-primary" style="background-color: #6b9080; justify-content: center;" role="button">Info</a>
                                <a href="#" class="btn m-2 d-flex btn-block btn-primary" style="background-color: #6b9080; justify-content: center;" role="button">On Hold</a>

                            </div>



                    </div>


                </div>


            </div>


        </div>
    </div>
</div>
    </div>

<style>
    .card-img {
        width: 200px;
        height: 300px;
        object-fit: fill;
        padding-top: 10px;
        padding-left: 10px;
    }
</style>
@code {

}
