<div class="container-fluid">
    <div class="row flex-row flex-nowrap scrolling-wrapper">
        <div class="col-2 m-4">
            <img class="img-fluid" src="images/1984.jpg" />
        </div>
        <div class="col-2 m-4">
            <img class="img-fluid" src="images/451.jpg" />
        </div>
        <div class="col-2 m-4">
             <img class="img-fluid" src="images/BraveNewWorld.jpg" />
        </div>
        <div class="col-2 m-4">
             <img class="img-fluid" src="images/Forever.jpg" />
        </div>
        <div class="col-2 m-4">
             <img class="img-fluid" src="images/Foundation.jpg" />
        </div>
        <div class="col-2 m-4">
             <img class="img-fluid" src="images/Hyperion.jpeg" />
        </div>
        <div class="col-2 m-4">
             <img class="img-fluid" src="images/2001.jpg" />
        </div>
        <div class="col-2 m-4">
            <img class="img-fluid" src="images/gods.jpg" />
        </div>
    </div>
</div>


@code {

}
