@inherits LayoutComponentBase
@using Blazored.Toast.Configuration


<style type="text/css">
    body {
        background: #cae4db !important;
    }
    
</style>


<div class="page">
    @*
        <div class="sidebar">
            <NavMenu />
        </div>
    *@
    <main>
        <div class="navbar-wrap">
            <NavBar />
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-error"
                />