@inherits LayoutComponentBase


<style type="text/css">
    body {
        background: #cae4db !important;
    }
    
</style>


<div class="page">
    @*
        <div class="sidebar">
            <NavMenu />
        </div>
    *@
    <main>
        <div class="navbar-wrap">
            <NavBarLogin />
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>