@inherits LayoutComponentBase

    <style type="text/css">
        body {

            background: #cae4db;

        }
    </style>

<div class="page">
    

    <main>
        <div class="navbar-wrap">
            <NavBarHomePage />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
