@inherits LayoutComponentBase


<style type="text/css">
    body {
        background: #f6fff8 !important;
    }
    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>


<div class="page">
    @*
        <div class="sidebar">
            <NavMenu />
        </div>
    *@
    <main>
        <div class="navbar-wrap">
            <NavBarUser/>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
