<h3>Legend</h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item" style="background-color:#ffcbcb">000 - General Works</li>
    <li class="list-group-item" style="background-color:#98cb99">100 - Philosopy</li>
    <li class="list-group-item" style="background-color:#fecb99">200 - Religion</li>
    <li class="list-group-item" style="background-color:#f7ddfe">300 - Social Sciences</li>
    <li class="list-group-item" style="background-color:#ddf3ff">400 - Language</li>
    <li class="list-group-item" style="background-color:#ffe5dd">500 - Science</li>
    <li class="list-group-item" style="background-color:#f1d1f4">600 - Technology</li>
    <li class="list-group-item" style="background-color:#bde7d9">700 - The Arts</li>
    <li class="list-group-item fw-bolder border-2 border-dark" style="background-color:#a4caf1">800 - Literature</li>
    <li class="list-group-item" style="background-color:#fefecc">900 - History, Geography</li>
</ul>
<hr />
<ul class="list-group list-group-flush">
    <li class="list-group-item" style="background-color:#EC688F">Movies</li>
    <li class="list-group-item" style="background-color:#68ECC5">Music</li>
</ul>

@code {

}
