<div class="container">
    <div class="row">
        <div class="col">
            <h3>Item Location</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <Map Item="Item"></Map>
        </div>
        <div class="col">
            <MapLegend Item="Item"></MapLegend>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public LibraryItem Item { get; set; }
}
