<div class="container">
    <div class="row">
        <div class="col">
            <h3>Library Map</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <MapforAbout></MapforAbout>
        </div>
        <div class="col">
            <MforAlegend></MforAlegend>
        </div>
    </div>
</div>
@code {

}
