@inject IJSRuntime JS;


<div class="container" style="position: fixed">
    <div class="row navbar nav-fill" style="background-color: #6b9080;">
        <div class="col m-2 d-flex justify-content-center">
            <a class="nav-item " href="">Explore Books <span class="sr-only">(current)</span></a>
            <a class="nav-item " href="#">Explore Music</a>
            <a class="nav-item " href="#">Explore Movies</a>
            <a class="nav-item " href="about">About Us</a>
            <a class="nav-item " href="contact">Contact/Help</a>
        </div>
    </div>
 </div>




    @code {



    }
