
<div class="row my-navbar p-0 m-0">
    <div class="col m-2 d-flex justify-content-end">
        <button class="btn btn-outline-dark ms-3 text-nowrap">Sign-In</button>
        <button class="btn btn-outline-dark ms-3 text-nowrap">On-Hold</button>
        <button class="btn btn-outline-dark ms-3 text-nowrap">Wishlist</button>
    </div>
</div>

@code {

}
