.search-input {
    max-width:350px;
}

.my-navbar {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

nav .navbar-nav.mr-auto.mt-2 .nav-item .nav-link {
    color: #ffffff !important;
}

.navbar-nav .active {
    color: red;
}
