
<div class="row my-navbar p-0 m-0">
    <div class="col m-2 d-flex justify-content-end">
        <div class="input-group search-input">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <a href="searchresults" class="btn btn-outline-dark"> <span class="oi oi-magnifying-glass" aria-hidden="true"/></a>
            </div>
        </div>
        <a href="" class="btn btn-outline-dark ms-3 text-nowrap">Sign-In</a>
        <a href="onhold" class="btn btn-outline-dark ms-3 text-nowrap">On-Hold</a>
        <a href="wishlist" class="btn btn-outline-dark ms-3 text-nowrap">Wishlist</a>
    </div>
</div>

@code {

}
