
<div class="row my-navbar p-0 m-0">
    <div class="col m-2 d-flex justify-content-end">
        <div class="input-group search-input">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-dark"> <span class="oi oi-magnifying-glass" aria-hidden="true"/></button>
            </div>
        </div>
        <button class="btn btn-outline-dark ms-3 text-nowrap">Sign-In</button>
        <button class="btn btn-outline-dark ms-3 text-nowrap">On-Hold</button>
        <button class="btn btn-outline-dark ms-3 text-nowrap">Wishlist</button>
    </div>
</div>

@code {

}
