<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><span class="oi oi-home" aria-hidden="true"></span>Library</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass h-100" @onclick="ToggleNavMenu">
    <nav class="flex-column h-100">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-book" aria-hidden="true"></span> Books
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-monitor" aria-hidden="true"></span> Movies
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-musical-note" aria-hidden="true"></span> Music
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </div>
        <div class="nav-item nav-item-bottom w-100 px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Contact/Help
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
